div.a {
 text-align: center;
}

div.b {
 text-align: left;
}

div.c {
 text-align: right;
}



.center {
 margin-left: auto;
 margin-right: auto;
}






h1  {
color: white;
 font-family: "Lucida Console", monospace;
 
}

li {
 color: white;
 font-family: "Lucida Console", monospace;
}

ul {
color: white;
 font-family: "Times New Roman", serif;
}

ol {
 color: white; 
 font-famiy: "Courier New", monospace;
}

tr {
 color: white; 
 font-family: "Lucida Console", monospace;
}

th {
color: white;
 font-family: "Lucida Console", monospace;
}

td {
 color: white; 
 font-family: "Lucida Console", monospace;
}

body {
 background-image: url("https://images2.alphacoders.com/678/678024.png")
}

