h1  {
color: black;
 font-family: "Lucida Condsole", monospace;
 
}

li {
 color: black;
}

ul {
color: black;
 font-family: "Times New Roman", serif;
}

ol {
 color: black; 
 font-famiy: "Courier New", monospace;
}

tr {
 color: black; 
}

th {
color: black;  
}

td {
 color: black; 
}

body {
 background-image: url("https://wallpapercave.com/wp/wp3538012.jpg")
}

