div.a {
 text-align: center;
}

div.b {
 text-align: left;
}

div.c {
 text-align: right;
}



.center {
 margin-left: auto;
 margin-right: auto;
}






h1  {
color: white;
 font-family: "Lucida Console", monospace;
 
}

li {
 color: white;
 font-family: "Lucida Console", monospace;
}

ul {
color: white;
 font-family: "Times New Roman", serif;
}

ol {
 color: white; 
 font-famiy: "Courier New", monospace;
}

tr {
 color: white; 
 font-family: "Lucida Console", monospace;
}

th {
color: white;
 font-family: "Lucida Console", monospace;
}

td {
 color: white; 
 font-family: "Lucida Console", monospace;
}

body {
 background-image: url("https://media.istockphoto.com/photos/light-blue-soft-gradient-defocused-blurred-motion-abstract-background-picture-id1163607297?b=1&k=20&m=1163607297&s=612x612&w=0&h=PNFfoqb2WlvwKc6_DgQ1v5Gpm7E3UU3mb9GA70QfpUI=")
}

